
// Color Schemas
$theme-ececec:      #ececec;
$theme-838383:      #838383;
$theme-ffffff:      #ffffff;
$theme-007a92:      #007a92;
$theme-a0a0a0:      #a0a0a0;
$theme-a7a7a7:      #a7a7a7;
$theme-d02720:      #d02720;
$theme-393939:      #393939;
$theme-e7e7e7:      #e7e7e7;
$theme-9d9d9d:      #9d9d9d;
$theme-f4f4f4:      #f4f4f4;
$theme-f5f5f5:      #f5f5f5;
$theme-f7f7f7:      #f7f7f7;
$theme-f9f9f9:      #f9f9f9;
$theme-702d15:      #702d15;
$theme-777777:      #777777;
$theme-color : #E62228;
$theme-lightred : #E62228;
$theme-darkred :  #771216; 